{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>box model</title>
    <link rel="stylesheet" href="{% static 'css/cssbox.css'%}">
    <style>
        h1{
    background-color: blue;
    color: black;
   /* margin: 50px;
    padding: 50px;
    margin: 20px 50px 150px 300px;
    margin: 50px 500px;*/
    margin-top: 100px;
    margin-left: 300px;
    margin-right: 159px;
    border:3px solid black;
    padding-top: 200px;
    padding-left: 300px;
}
    </style>
</head>
<body>
    <h1>css box</h1>
    
</body>
</html>